.grid {
    width: 100px;
    height: 50px;
    background-color: aqua;
    padding: 100px;
    display: flex;
    margin: 1.5rem 1.5rem;
  }
  
  .projectCard {
    width: 100px;
    height: 50px;
    background-color: aqua;
    padding: 100px;
    display: flex;
    margin: 1.5rem 1.5rem;
  }
  