.grid {
    background-color: linen;
    padding: 1rem;
    /* display:flex;
    flex-wrap: wrap;
    justify-content: center; */
    display: grid;
    grid-template-columns: repeat(2  , 1fr);
    justify-items: center;
  }
  
  .projectCard {
    width:530px;
    height: 360px; 
    background-color: pink;
    padding: 1rem;
    display: flex;
    margin: 1.5rem 1.5rem;
  }
  