* {
    box-sizing: border-box;
}
body {
    background: linear-gradient(
        194.12deg,
        #1c262f 0.59%,
        #1a1c20 23.53%,
        #191a22 57.89%,
        #141a22 94.63%
    );
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
