.pageWrapper {
    max-width: 1280px;
    margin: auto;
    padding: 0 1rem;
}

.projectContent {
    max-width: 1020px;
    margin: 4rem auto;
    padding: 0 1rem;

    display: flex;
    flex-direction: column;

    font-size: 18px;
    line-height: 1.6;
}

.projectContent > * {
    max-width: 940px;
}

.projectContent img {
    width: 100%;
    max-width: 1072px;
    border-radius: 10px;
}

@media screen and (min-width: 1340px) {
    .projectContent img {
        width: 110%;
        max-width: 1072px;
        left: 50%;
        transform: translateX(-50%);
        position: relative;
    }
}
