.pageWrapper {
    max-width: 1280px;
    margin: auto;
    padding: 0 24px;
    justify-content: center;
    flex-direction: column;
    display: flex;
}

.blogpostcontainer {
    background-color: lightgreen;
}
