.navBar {
    margin: 4rem 2rem 4rem;
}

.navItems {
    font-size: 24px;
    margin: 0 1rem;
    padding: 0.5rem 1rem;
    color: #fa6161;
    text-decoration: none;
    transition: box-shadow 0.3s, background-color 0.2s, transform 0.3s;
}

.navItems:hover {
    background-color: white;
    box-shadow: 5px 5px 0px #fa6161;
    transform: translate(-10px, -5px);
}
