.grid {
    display: flex;
    flex-wrap: wrap;
    justify-items: space-between;
    margin: 4rem auto;
    width: 100%;
}

.projectCard {
    align-items: flex-end;
    justify-content: flex-start;
    display: flex;

    width: 100%;
    max-width: 580px;
    height: 400px;
    margin: 1rem auto 2rem;
    border-radius: 26px;
    border: 1px solid #344e60;

    background: linear-gradient(
        297.65deg,
        rgba(81, 102, 101, 0.35) -5.2%,
        rgba(156, 169, 200, 0.25) 96.88%
    );
    backdrop-filter: blur(8px);
    /* Note: backdrop-filter has minimal browser support */
    box-shadow: 0px 8px 11px rgba(0, 0, 0, 0.02),
        0px 16px 50px rgba(0, 0, 0, 0.05);

    text-decoration: none;
    color: rgba(255, 255, 255, 0.8);

    position: relative;

    transition: transform 0.2s ease-in;
}

@media screen and(min-width:812px) {
    .projectCard {
        align-items: flex-end;
        justify-content: flex-start;
        display: flex;
    }
}

.projectCard:hover {
    transform: scale(1.02);
    background-color: transparent;
    z-index: 3;
}

/* hover outline */
.projectCard::before {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    border: 2px solid rgba(78, 180, 255, 0);
    border-radius: 26px;
    transition: transform 0.2s ease-in, border 0.4s, border-radius 0.2s,
        top 0.2s, left 0.2s, right 0.2s, bottom 0.2s;
}

.projectCard:hover:before {
    content: '';
    position: absolute;
    top: -8px;
    left: -8px;
    right: -8px;
    bottom: -8px;
    border: 2px solid rgba(78, 180, 255, 1);
    border-radius: 32px;
}

/* hover background */
.projectCard::after {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background: linear-gradient(
        297.65deg,
        rgba(220, 254, 252, 0.7) -5.2%,
        rgba(215, 218, 246, 0.5) 96.88%
    );

    opacity: 0;
    border-radius: 26px;

    z-index: -2;

    transition: opacity 0.7s;
}

.projectCard:hover::after {
    content: '';
    opacity: 0.3;
    border-radius: 26px;
}

/* Gradient animate */
.overlay {
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 26px;
}

.overlay::after {
    content: '';
    top: -100%;
    left: -100%;
    right: 0;
    bottom: 0;

    background: linear-gradient(
        294.43deg,
        rgba(255, 255, 255, 0) 63.19%,
        rgba(186, 228, 247, 0.11) 63.32%,
        rgba(255, 255, 255, 0) 100.35%
    );
    transition: opacity 1s;

    opacity: 0;
    z-index: 3;
}

.overlay:hover::after {
    content: '';
    position: absolute;

    opacity: 0.7;

    animation: Shimmer 1.3s ease-in infinite normal;
}

@keyframes Shimmer {
    from {
        top: -80%;
        left: -80%;
        right: 0;
        bottom: 0;
    }
    to {
        top: 0;
        left: 0;
        right: -300%;
        bottom: -300%;
        opacity: 0;
    }
}

.projectInfo {
    margin: 1rem 2rem;
}

.projectInfo * {
    margin: 1rem 0;
}

.featuredImage {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    object-fit: cover;

    opacity: 0.9;
    z-index: -1;

    image-rendering: crisp-edges;
}

.logo {
    max-height: 40px;
    margin-bottom: -8px;
}
