.grid {
    display: flex;
    flex-wrap: wrap;
    justify-items: space-between;
    margin: 4rem auto;
    width: 100%;
}

.projectCard {
    align-items: flex-end;
    justify-content: flex-start;
    display: flex;

    width: 100%;
    max-width: 580px;
    height: 480px;
    margin: 1rem auto 2rem;
    border-radius: 10px;
    border: 1px solid #ffffff;

    background: linear-gradient(
        113.97deg,
        rgba(255, 255, 255, 0.1) 2.68%,
        rgba(243, 246, 246, 0.2) 101%
    );
    /* backdrop-filter: blur(8px);*/
    box-shadow: 0px 8px 11px rgba(0, 0, 0, 0.02),
        0px 16px 50px rgba(0, 0, 0, 0.05);

    text-decoration: none;
    color: rgba(255, 255, 255, 0.8);

    position: relative;

    /* transition: transform 0.2s ease-in; */
}

.projectCard:hover {
    /* transform: scale(1.02); */
    background-color: transparent;
    z-index: 3;
}

/* hover outline */
.projectCard::before {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    border: 3px solid rgba(78, 180, 255, 0);
    border-radius: 10px;
    transition: transform 0.2s ease-in, border 0.4s, border-radius 0.2s,
        top 0.2s, left 0.2s, right 0.2s, bottom 0.2s;
}

.projectCard:hover:before {
    content: '';
    position: absolute;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    border: 3px solid #0cb2f9;
    border-radius: 12px;
}

/* hover background */
.projectCard::after {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background: linear-gradient(
        113.97deg,
        rgba(255, 255, 255, 0.8) 3%,
        rgba(243, 246, 246, 0.8) 100%
    );

    opacity: 0;
    border-radius: 10px;

    z-index: -2;

    transition: opacity 1.2s;
}

.projectCard:hover::after {
    content: '';
    opacity: 0.6;
    border-radius: 10px;
}

/* Gradient animate */
.overlay {
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 10px;
}

.overlay::after {
    content: '';
    top: -100%;
    left: -100%;
    right: 0;
    bottom: 0;

    background: linear-gradient(
        117.93deg,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0) 30%,
        rgba(255, 255, 255, 1) 40%,
        rgba(255, 255, 255, 0) 43%,
        rgba(255, 255, 255, 0) 64.25%
    );
    transition: opacity 1s;

    opacity: 0;
    z-index: 3;
}

.overlay:hover::after {
    content: '';
    position: absolute;

    opacity: 0.7;

    animation: Shimmer 1.9s ease-in infinite normal;
}
.glare {
    position: absolute;
    overflow: hidden;
    border-radius: 10px;
    /* top: -50px;
    left: -50px;
    right: -50px;
    bottom: -50px;
    background: radial-gradient(
        76.85% 21.69% at 50% 22.03%,
        #ffffff 0%,
        rgba(255, 255, 255, 0.76) 37.21%,
        rgba(255, 255, 255, 0) 100%
    ); */
    top: 0;
    left: -500px;
    right: -500px;
    bottom: -500px;
    background: radial-gradient(
        76.85% 21.69% at 50% 22.03%,
        #fff5f5 0%,
        rgb(253 4 4 / 76%) 37.21%,
        rgb(134 28 28) 100%
    );
    opacity: 0;
    z-index: 4;
}

.glare:hover {
    opacity: 0.8;
}

@keyframes Shimmer {
    from {
        top: -100%;
        left: -100%;
        right: 0;
        bottom: 0;
    }
    to {
        top: 0;
        left: 0;
        right: -400%;
        bottom: -400%;
        opacity: 0;
    }
}

.projectInfo {
    padding: 1rem 1rem;
    width: 100%;
    background: linear-gradient(
        113.97deg,
        rgb(248 255 254 / 60%) 2.68%,
        rgb(227 250 255 / 60%) 101%
    );
    backdrop-filter: blur(3.5px);
}

.projectInfoH2 {
    color: rgba(26, 26, 26, 0.9);
    margin: 0.7rem 0;
}

.projectInfoP {
    color: rgba(26, 26, 26, 0.9);
    margin: 0.7rem 0;
    margin: 1rem 0 0.7rem;
    padding: 0;
}

.tag {
    background-color: white;
    opacity: 0.7;
    display: inline;
    border-radius: 4px;
    padding: 4px 6px;
    margin-right: 6px;
}

.thumbnail {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
    object-position: 90% 50%;

    z-index: -1;

    image-rendering: crisp-edges;
}

.logo {
    max-width: 115px;
    margin-bottom: -4px;
}

@media screen and (min-width: 812px) {
    .projectCard {
        align-items: flex-end;
        justify-content: flex-start;
        display: flex;
        height: 420px;
    }

    .projectInfo {
        padding: 1rem 1.5rem;
        background: none;
        backdrop-filter: unset;
    }
}
