.footer {
    display: flex;
    flex-direction: column;
}

.footerNav {
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 2rem;

    display: flex;
    flex-wrap: wrap;
}

.footNote {
    display: block;
    margin: auto;
    margin-bottom: 4rem;
    color: rgba(26, 26, 26, 0.8);
}
