.footer {
    display: flex;
    flex-direction: column;
}

.footerNav {
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 2rem;

    display: flex;
    flex-wrap: wrap;
}

.navItems {
    font-size: 18px;

    margin: auto;
    margin-top: 0.5rem;
    min-width: 150px;

    padding: 0.7rem 1.2rem;
    color: #0cb2f9;
    opacity: 0.8;
    text-decoration: none;
    transition: background-color 0.5s, border-color 0.2s;
    border-radius: 12px;

    background-color: transparent;
    border: 2px solid transparent;
}

.navItems:hover {
    background: linear-gradient(
        149deg,
        rgb(234 255 251 / 40%) 8.44%,
        rgb(235 250 255 / 40%) 90.84%
    );
    border: 2px solid #0cb2f9;
}

.footNote {
    display: block;
    margin: auto;
    margin-bottom: 4rem;
}

@media screen and (min-width: 812px) {
    .navItems {
        margin: 1rem 2rem 1rem 0;
        text-align: center;
    }
}
