.featuredImage {
    background-size: cover;
    background-position: 50% 20%;

    height: 80vh;
    width: 100vw;
    max-width: 1920px;
    max-height: 700px;

    top: 0;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
}

.featuredImage::after {
    content: '';
    position: absolute;
    inset: 90% 0 0;

    background: linear-gradient(
        360deg,
        rgb(255, 255, 255) 5%,
        rgba(255, 255, 255, 0) 60%
    );
}

.panel {
    margin: 26rem auto 2rem;
    max-width: 1072px;
    width: 100%;
    padding: 1rem 1.5rem 1rem;

    background: rgba(255, 255, 255, 0.2);
    border: 1px solid #ffffff;
    border-radius: 12px;
    box-shadow: 0px 8px 11px rgba(0, 0, 0, 0.02),
        0px 16px 50px rgba(0, 0, 0, 0.05);
    backdrop-filter: blur(16px);
}

.panel h1 {
    color: rgba(26, 26, 26, 1);
}

.tags {
    font-weight: 400;
    color: rgba(26, 26, 26, 0.8);
}

.panel h2 {
    margin-top: 3rem;
    font-weight: 400;
    color: rgba(26, 26, 26, 0.8);
    font-size: 16px;
}

.panel p {
    font-weight: 500;
    color: rgba(26, 26, 26, 0.8);
    margin-bottom: 0;
}

.left {
    width: 100%;
    margin-right: 1rem;
}

.left p {
    line-height: 1.6;
}

.right {
    width: 100%;
}

.details {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-items: space-evenly;
}

.skillsList {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.skill {
    justify-self: start;
    align-self: end;
    display: flex;
    flex-direction: column;
}

.skillsList p {
    margin: 0.5rem auto 2rem;
    text-align: center;
}

.skillsList img {
    max-width: 50px;
    margin: 0 auto;
}

@media screen and (min-width: 850px) {
    .panel {
        margin: 30rem auto 2rem;
        padding: 3rem 4rem 2rem;
    }
    .panel h2 {
        margin-top: 3rem;
    }
    .left {
        width: 55%;
        margin-right: 4rem;
    }

    .right {
        width: 35%;
    }

    .skill {
        justify-self: start;
    }
}
